<p>Colour</p>
<input type="checkbox" id="red" name="red" value="red" />
<label for="red"> red</label><br />
<input type="checkbox" id="black" name="black" value="black" />
<label for="black"> black</label><br />
<input type="checkbox" id="white" name="white" value="white" />
<label for="vehicle3"> white</label><br /><br />
<p>Gender</p>
<input type="checkbox" id="male" name="male" value="male" />
<label for="male"> male</label><br />
<input type="checkbox" id="female" name="female" value="female" />
<label for="female"> female</label><br />
<p>Price</p>
<input type="checkbox" id="price1" name="price1" value="price1" />
<label for="price1"> 0-250 Rs</label><br />
<input type="checkbox" id="price2" name="price2" value="price2" />
<label for="price2"> 251-450 Rs</label><br />
<input type="checkbox" id="price3" name="price3" value="price3" />
<label for="price3"> 451- 1000 Rs</label><br /><br />
<p>Type</p>
<input type="checkbox" id="Polo" name="Polo" value="Polo" />
<label for="Polo"> Polo</label><br />
<input type="checkbox" id="Hoodie" name="Hoodie" value="Hoodie" />
<label for="Hoodie"> Hoodie</label><br />
<input type="checkbox" id="Basic" name="Basic" value="Basic" />
<label for="Basic"> Basic</label><br />
